#kdiff3
*_bak

#Eclipse
.settings/

#automake scan
/autoscan.log
/autoscan.scan
/configure.scan

#automake
/liblimereg.pc
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/config
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.o
*~
/doc/doxygen-doc
/doc/limereg.1
/INSTALL
/limereg-*
/tests/test_findAlignment
/tests/test_commandLineTool
/tests/test_getVersion
/tests/test_searchSubimage
/tests/*.log
/tests/*.trs
/exe/limereg

